<h4>About splickity</h4>

<p>Believe it or not, we want you to spend as little time on splickity as possible so that you can spend more time having fun. By design splickity enables busy big people like you to easily research and register for the best activities for kids. If you're a significant adult in a kiddo's (or many kiddos) life you can easily manage all of  their activities from one place- splickity. So now that you have some extra time, go have fun!</p>

<h4>Social Good</h4>

<p>At splickity we live by the credo "More fun for everyone!" That's why we've set-up the More Fun Fund an activities scholarship where we will deposit 1% of every sale to support all kiddos to take part in fee-based activities. So every time you use splickity to register your kid for a fun activity you'll help to lift the cost of participation for another kid in your community. Pretty cool, huh?! We think so too.</p>

<p>Want to make a contribution to the More Fun Fund? Contact Blair at blair @ splickitykids.com and she will happily help to coordinate your donation. Thanks!</p>

<h4>Blair's Bio</h4>

<p>Co-founder Blair Young is a mama and auntie to a total of 7 kiddos (only 2 of them are hers) ranging from age 1 1/2 to 15 years. She regularly basks in the chaos of this motley crew and is notorious among them for her catchphrase "Screens off!" Blair's previous lifetime of work in the nonprofit sector focused primarily on programs and advocacy for children and youth. Through splickity Blair hopes to ensure what she considers a fundamental right of all young people (well, all people really...) the right to have fun!</p>


