<div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="col-md-6">
            <div class="well well_bubble center">
              <h1 class="lightened">We believe that having fun is a right everyone should enjoy.</h1>
              <p>We’re parents. We’re small business owners. In other words, busy “big people” a lot like you. We wish the world was a simpler place too. But since it’s not, we made splickity. Our mission is to simplify the process of connecting families to fun activities. If using splickity gives you time to knock out a page in your coloring book or jump in on a game of pickup basketball, then we’ve done our job.</p>
              <br>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well well_bubble center">
              <h1 class="lightened">More Fun Fund</h1>
              <p>We also created the <strong>More Fun Fund</strong>, our activities scholarship, where we’ll deposit 1% of revenue to support all kiddos to take part in fee-based activities. So every time you use splickity you'll help to lift the cost of participation in a fun activity for families in need of financial assistance</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


