<div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="col-md-6">
            <div class="well well_bubble center">
              <h1 class="lightened">Dax, Vendor Experience</h1>
              <p>Dax is a dad and Tio to a total of 7 kiddos ranging from age 2 to 15 years. He is known for regularly taking a knee drop to the gut while having his glasses cruelly ripped from his face by a toddler. He also plays a mean game of Monster’s Coming! Dax is motivated by his lifelong drive to have fun and brings this to his work with vendors, and as a vendor, in markets ranging from food & beverage to outdoor recreation and cycling in both the for profit and nonprofit sectors.</p>
              <br>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well well_bubble center">
              <h1 class="lightened">Blair, Family Experience</h1>
              <p>Blair is a mama and auntie to a total of 7 kiddos ranging from age 2 to 15 years. She regularly basks in the chaos of this motley crew and is notorious among them for her catchphrase "Screens off!" Blair's lifetime of service in the nonprofit world has focused primarily on programs and advocacy for children, youth and families. Through splickity Blair hopes to ensure what she considers a fundamental right of all young people (well, all people really...) the right to have fun!</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


