<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lightened">We’re here to help!</h1>
          <p>And your questions, concerns, and comments will help us to grow. Reach out and you’ll hear back from us lickity-split!  Send a message to blair @ splickitykids.com.</p>
        </div>
      </div>
    </div>
  </div>
</div>
