<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="col-md-6">
          <div class="well well_bubble center">
            <h1 class="lightened">General Contact</h1>
            <p>Reach out and we promise to respond as quickly as possible. Please contact blair@splickitykids.com with questions, concerns, and comments. Thanks!</p>
            <br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well well_bubble center">
            <h1 class="lightened">More Fund Fund</h1>
            <p>Interested in learning more about the More Fun Fund? We’re happy to fill you in. Send a message to fund@splickitykids.com.</p>
            <p>You’ll hear back from us lickity-split!</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
