<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="col-md-6">
          <div class="well well_bubble center">
            <h1 class="lightened">We’re here to help!</h1>
            <p>And your questions, concerns, and comments will help us to grow. Reach out and you’ll hear back from us lickity-split! Please contact blair @ splickitykids.com with questions, concerns, and comments. Thanks!</p>
            <br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well well_bubble center">
            <h1 class="lightened">More Fun Fund</h1>
            <p>Interested in learning more about the More Fun Fund? We’re happy to fill you in. Send a message to blair @ splickitykids.com.</p>
            <p>You’ll hear back from us lickity-split!</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
