<h3>Cart</h3>
<% if @cart.temp_orders.count > 0 %>
  <div class="row">
	<div class="col-md-12">

		<table class="table table-striped table-bordered">
			<tr>
				<th class='center'>Activity Name</th>
				<th class='center'>Quantity</th>
				<th class='center'>Action</th>
			</tr>
			<% @cart.temp_orders.each do |c| %>
				<tr>
					<td class='center'><%= Activity.find(c.activity_id).name %></td>
					<td class='center'><%= c.quantity %></td>
					<td class='center'><%= link_to 'Remove', cart_path(:temp_order_id=>c.id), :method=>:delete %></td>
				</tr>
			<% end %>	
		</table>
		</div>
	</div>
	<%= link_to 'Place Order', place_order_carts_path(:cart_id=>@cart.id) %>
<% else %>
<h2>Your cart is empty!</h2>
<% end %>
