<p>Hi <%= @seller.full_name %>,</p>

<p>Congratulations!  Someone signed up for your activity at splickitykids.com.  Details are given below.</p>
<p><strong>Activity:</strong> <%= @order_detail.activity.name %></p>
<p><strong>Customer name:</strong> <%= @buyer.full_name %></p>
<p><strong>Customer email:</strong> <%= @buyer.email %></p>

<p>Thanks</p>
<p>SplickityKids Team</p>
