Hi <%= @vendor.full_name %>,<br/><br/>
Congratulations! Your vendor account at <a href="https://splickitykids.com" target="_blank">splickitykids.com</a> has been activated. <br/><br/>

Now that your vendor account is active, you can start listing and selling activities. It's easy: <br/><br/>

1) Go to the <a href="https://splickitykids.com/vendors/sign_in" target="_blank">Sign-in</a> page to access your new vendor account<br/>
2) In the upper right-hand corner of your screen you will see "Your Company Name" with a drop-down menu<br/>
3) Click on the arrow and then click "Add an activity"<br/>
4) When you add your first activity, you will be asked to enter bank routing information so that you can receive weekly customer payouts from splickity<br/><br/>

It should be pretty intuitive from there. The sooner you list your activities. The sooner we can start promoting them for you through our local channels.<br/><br/>

Thanks for joining the splickity community!<br/>
the splickity team<br/><br/>

PS- We want to hear about your experience using splickity. You can send feedback to: blair@splickitykids.com
