@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  height: auto;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {font-size: 25px;}
  p {font-size: 18px; word-wrap: break-word;}
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

.jumbotron {
  background-image: url('https://d1j1smmjasrwse.cloudfront.net/images/8503405051_f7daf632d9_o.jpg');
  background-size: cover;
  height: 500px;
}
  
table {
    table-layout: fixed;
    word-wrap: break-word;
}

.glyphicon.glyphicon-calendar {
    font-size: 1.9em;
}