<% if @user.role?(:vendor)  %>
	<p>Welcome <%= @email %>!</p>

	<p>You will need to confirm your account email through the link below:</p>

	<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

	<p>Once confirmed, your splickity vendor account will be reviewed. Please allow up to 24 hours to receive confirmation instructions to activate your account. Thank you!</p>
<% else %>
	<p>Welcome <%= @email %>!</p>

	<p>You can confirm your account email through the link below:</p>

	<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<% end %>