<fieldset class="activity_option" id="repeats_monthly_options">
  <%#= f.label 'For # of months' %>
  <%#= f.select :repeats_every_n_months, options_for_select(monthly_repeats), {}, class: "form-control" %>
  <%#= f.select :repeats_monthly, Activity::RepeatMonthlyOptions %>
  <!--<div class="control-group" id="activity_repeats_monthly_each">
    <label class="control-label">Each</label>
    <div class="controls">
      <%# Activity::DaysOfTheMonth.each do |day_of_the_month| %>
        <%#= label_tag "activity_repeats_monthly_each_days_of_the_month_#{day_of_the_month}", day_of_the_month, :class => 'checkbox inline' do %>
          <%#= check_box_tag "activity[repeats_monthly_each_days_of_the_month][#{day_of_the_month}]", day_of_the_month, f.object.repeats_monthly_each_days_of_the_month.include?(day_of_the_month), {:name => "activity[repeats_monthly_each_days_of_the_month][]"} %>
          <%#= day_of_the_month %>
        <%# end %>
      <%# end %>
      <%#= hidden_field_tag "activity[repeats_monthly_each_days_of_the_month][]", "" %>
    </div>
  </div>-->
  <div class="control-group" id="activity_repeats_monthly_on">
    <label class="control-label">Every</label>
    <div class="controls">
      <%# Activity::Ordinals.each_with_index do |ordinal,index| %>
        <%#= label_tag "activity_repeats_monthly_on_ordinals_#{ordinal}", ordinal, :class => 'checkbox inline' do %>
          <%#= check_box_tag "activity[repeats_monthly_on_ordinals][#{ordinal}]", ordinal, f.object.repeats_monthly_on_ordinals.include?(ordinal), {:name => "activity[repeats_monthly_on_ordinals][]"} %>
          <%#= Activity::HumanOrdinals[index] %>
        <%# end %>
      <%# end %>
      <%#= hidden_field_tag "activty[repeats_monthly_on_ordinals][]", "" %>
      <% Activity::DaysOfTheWeek.each do |day_of_the_week| %>
        <%= label_tag "activity_repeats_monthly_on_days_of_the_week_#{day_of_the_week}", day_of_the_week.humanize, :class => 'checkbox inline' do %>
          <%= check_box_tag "activity[repeats_monthly_on_days_of_the_week][#{day_of_the_week}]", day_of_the_week, f.object.repeats_monthly_on_days_of_the_week.include?(day_of_the_week), {:name => "activity[repeats_monthly_on_days_of_the_week][]"} %>
          <%= day_of_the_week.humanize %>
        <% end %>
      <% end %>
      <%= hidden_field_tag "activity[repeats_monthly_on_days_of_the_week][]", "" %>
    </div>
  </div>
</fieldset>
